Package: tcg
Version: pkgver
Section: base
Priority: optional
Architecture: amd64
Depends: libboost-filesystem1.71.0, libfmt7, libspdlog1, libseccomp2
Maintainer: tcg <tcg-deb@emailaddress.biz>
Description: Terminal cgroup
 Terminal cgroup, short for `tcg`, is a tool to help people manage system's
 resource usage through cgroup.
