Package: tcg
Version: pkgver
Section: base
Priority: optional
Architecture: x86_64
Depends: libfmt (>= libfmtver), libspdlog (>= libspdlogver)
Maintainer: tcg <tcg-deb@emailaddress.biz>
Description: Terminal cgroup
 Terminal cgroup, short for `tcg`, is a tool to help people manage system's
 resource usage through cgroup.