name: lint

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

jobs:

  clang-format:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Lint with clang-format
      run: |
        find src -name '*.cpp' -o -name '*.h' -o -name '*.hpp'| xargs clang-format -i
        GIT_DIFF=$(git diff)
        if [[ -z $GIT_DIFF ]]; then
            exit 0
        fi
        echo $GIT_DIFF
        exit 1

  clang-tidy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install dependencies
      run: |
        sudo apt-get install -y libboost-all-dev clang-tidy
    - name: Generate compile_commands.json
      run: |
        mkdir build
        cd build
        cmake ..
    - name: Lint with clang-tidy
      run: |
        set -eux
        clang-tidy -p build/compile_commands.json src/*
