name: packaging

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

jobs:

  archlinux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: build
      run: |
        docker run -v $PWD:/workspace zasdfgbnm/archlinux-yaourt bash -c '
          set -eux
          cp -r /workspace/packaging/archlinux ~/package;
          cd ~/package;
          sed -i "s/source=.*/source=(\"git+file:\/\/workspace\")/g" PKGBUILD
          makepkg -s --noconfirm
        '